body {
    font-family: "Roboto", sans-serif;
    background-color: #000000;
    padding: 20px; 
    margin-bottom: 1.5em; 
    border-radius: 8px;
}


.descricao  {
    font-style: italic;
    display: flex;
   justify-content: center; 
   align-items: center;    
   height: 30px; 
}

.html{
    color: #e67e22;
    font-weight: bold;
}

.rapido {
    color: #9213c5;
    font-weight: bold;
}

.equipe{
    color: #0fc75b;
    font-weight: bold;
}


h1 {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 30px;       
}


h2{
    display: flex;
    justify-content: center; 
   align-items: center;    
   height: 30px; 

}

h3{
    color: white;
}
section {
    padding: 20px; 
    background-color: rgb(33, 30, 30);
    border-radius: 8px;
    display: flex;
    justify-content: center; 
   align-items: center;    
   height: 30px; 
}